body {
    padding: 0;
    margin: 0;
    background-color: #232323;
}

h1{
    color: antiquewhite;
    font-family: montserrat;
    padding: 10% 20%;
    margin-top: 0; 
}

.square {
    background-color: aliceblue;
    padding-bottom: 30%;
    width: 30%;
    margin: 1.66%;
    float: left;
}

#colorShow{
    text-transform: capitalize;
    font-weight: 400;
    font-size: 24px;
}

#topBar{
    color: antiquewhite;
    font: 1em montserrat;
}

#headingBar{
    width: 100%;
    color: white;
}